<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">  
<display-name>GraduateAdmission</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--Login configuration uses form-based authentication -->
<login-config>
	<auth-method>
		FORM
	</auth-method>
	<realm-name>
		Admissions Form-Based Authentication Area
	</realm-name>
	<form-login-config>
		<form-login-page>
			/login.jsp
		</form-login-page>
		<form-error-page>
			/login-error.jsp
		</form-error-page>
	</form-login-config>
</login-config>
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>
  			User area
  		</web-resource-name>
  		<!-- home -->
  		<url-pattern>/sites/home/user/*</url-pattern>
  		<!-- beaches -->
  		<url-pattern>/sites/beaches/user/*</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>user</role-name>
  	</auth-constraint>
  	<user-data-constraint>
  		<transport-guarantee>
  			CONFIDENTIAL
  		</transport-guarantee>
  	</user-data-constraint>
  </security-constraint>

	<security-constraint>
  	<web-resource-collection>
  		<web-resource-name>
  			poster area
  		</web-resource-name>
  		<!-- home -->
  		<url-pattern>/sites/home/poster/*</url-pattern>
  		<url-pattern>/sites/home/user/*</url-pattern>
  		<!-- beaches -->
  		<url-pattern>/sites/beaches/poster/*</url-pattern>
  		<url-pattern>/sites/beaches/user/*</url-pattern>
  		<!-- surf_conditions -->
  		<url-pattern>/sites/surf_conditions/poster/*</url-pattern>
  		<url-pattern>/sites/surf_conditions/user/*</url-pattern>
  		<!-- Registration - Show User Info -->
  		<url-pattern>/register/user/*</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>poster</role-name>
  	</auth-constraint>
  	<user-data-constraint>
  		<transport-guarantee>
  			CONFIDENTIAL
  		</transport-guarantee>
  	</user-data-constraint>
 </security-constraint>

  <servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
  
</web-app>

